// app global css

#img_cathie
{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}

#listheader
{
  text-align: center;
  font-size: 16px;
}

#form_stepper
{
  /*height: 340px;*/
  margin-bottom: 100px;
  margin-top: 100px;
}

.stepper_elem
{
  margin-right: 15px;
}

.profile_form_elem
{
  width: 280px;
}

#profile
{
  margin-top: 50px;
  margin-bottom: 50px;
}

.course_btn
{
  width: 190px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#stepper_navbtn
{
  margin-top: 30px;
}

#chatBot
{
  margin-top: 100px;
}

#knob
{
  font-weight:bold;
}

.achiev_todo
{
  background-color: grey;
  float: right;
  color: white;
  height: 80px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

.img_achiev_todo
{
  float: left;
  background-color: grey;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
}

.text_achiev_todo
{
  color: white;
  padding: 30px;
}

.achiev_done
{
  background-color: blue;
  float: right;
  color: white;
  height: 80px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

.img_achiev_done
{
  float: left;
  background-color: blue;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
}

.text_achiev_done
{
  color: white;
  padding: 30px;
}
